.heading {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  text-align: center;
  background: linear-gradient(90deg, lightblue, darkblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Fallback for non-WebKit browsers */
  text-fill-color: transparent; /* Fallback for non-WebKit browsers */
  margin-bottom: 20px;
}

.headingsub {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  text-align: center;
  background: linear-gradient(90deg, rgb(233, 122, 179), rgb(56, 7, 37));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Fallback for non-WebKit browsers */
  text-fill-color: transparent; /* Fallback for non-WebKit browsers */
  margin-bottom: 20px;
}

/* Styles for the custom text field */
.custom-textfield .MuiOutlinedInput-root {
  border-radius: 20px; /* Rounded corners */
}

.custom-textfield .MuiInputBase-input {
  font-size: 0.9em; /* Smaller text size */
}

.custom-textfield .MuiOutlinedInput-notchedOutline {
  border-color: darkblue; /* Blue outline */
}

.custom-textfield .MuiInputLabel-root {
  color: darkblue; /* Blue label color */
}

.custom-textfield .MuiInputLabel-root.Mui-focused {
  color: darkblue; /* Blue label color when focused */
}

.custom-textfield input::placeholder {
  color: lightblue; /* Blue placeholder color */
}

/* Styles for the custom button */
.custom-button {
  background-color: lightgreen;
  color: white;
  padding: 12px 60px;
  border-radius: 20px;
  font-size: 1.5em;
  display: block;
  margin: 20px auto;
  text-align: center;
}

.custom-button:hover {
  background-color: green; /* Darker green on hover */
}
